/* font-family: 'M PLUS 2', sans-serif;  base */
/* font-family: 'Karla', sans-serif; comment */
/* font-family: 'Lato', sans-serif; name */

/* 48bfe3 mavi */



.head {
    font-family: 'M PLUS 2', sans-serif;
    font-size: 1.5rem;
    color: white;
}
.com{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: #edf2fb;
}
.name{
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    color: #caf0f8;
}
.icon{
    font-size: 1.5rem;
    color: white;

}


.link{
    text-decoration: none;
}
.pp{
    border-radius: 20%;
    width: 50px;
    height: 50px;
    border-color: 1px solid white;
}
