*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #101010;
    height: 100%;
}
/* Header side ---------------------------------------------*/
h1{
   float: left;
   color: white;
}
div#nav{
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #101010 ;
    border-bottom: 1px solid white;
}
div#right{
    float: right;
    padding: 5px;
}
div#right a{
    padding: 10px;;
}

div#pp img{
    display: inline-block;
    height: 100px;
    
}


/* section side -------------------------------------------------- */
.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}
.row.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 25px;
}
div.card{
    display: flex;
    align-items: center;
    background-color: #080808;
    border-radius: 10%;
    padding: 10px;
}
div.card h3{
    color: #caf0f8;
    font-size: 1.5rem;
}
div.card img{
    border-radius:  15%; 
}
div.card-body a{
    padding: 5px;
}

/* ProfileLİve ------------------------------------------------------- */
#profileLive{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileLive .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profileLive .card-body .btn{
    margin-top: 15px;
}
div.com{
    margin-top: 15px;
}