.nav-url {
    text-decoration: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 0 10px;
    color: #fff;
    opacity: 0.6;
}
.nav-url:hover {
    color: white;
    opacity: 1;
}
.nav-url:focus {
    color: white;
    opacity: 1;
}
.sm-p {
    font-family: 'Prompt', sans-serif;
    color: white;
    opacity: 0.7;
    font-size: 24px;
}
.sm-img {
    width: 15%;
    transition: transform .5s;
    z-index: 1;
}
.sm-img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
.team-h,
.info-h {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 36px;
}
.bottom-h {
    font-family: 'Alata', sans-serif;
}
.f-icon {
    font-size: 24px;
    color: #fff;
    opacity: 0.8;
    padding: 15px 5px;
}
